<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jwetherell.heart_rate_monitor"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.flash"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application 	android:icon="@drawable/icon" 
    				android:label="@string/app_name"
    				android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name=".HeartRateMonitor"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest> 